.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
    
p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
   
}  

.header{
    text-align: center;
}

.card-container{
    display:grid;
    grid-template-columns: repeat(3,0fr); /*3 equal columns*/
    grid-template-rows:repeat(1fr);
    gap: 10px;
    justify-content: center;


}







.card{

    border:grey;
    border-style: solid;
    height: 200px;
    width: 300px;
    border-top-color: blue;
    border-top-width: 5px;
    padding: 20px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 8px;
    background-color: white;
}

.card-combined{
    grid-column: 2;
    grid-row: 1;
    width: 350px;
}

.card--supervisor{
    margin-top: 150px;
    border-top-color: turquoise;
}
.card--teambuilder{
    margin-bottom: 30px;
    border-top-color: red;
}
.card--karma{
    grid-column: 2;
    grid-row: 2;
    border-top-color: gold;
}
.card--calculator{
    grid-column: 3;
    grid-row: 1;
    margin-top: 150px;
    border-top-color: blue;
}

@media (max-width: 600px){
  .cardcontainer1
    .card{
        grid-template-columns: 1fr;/*stacks into 1 column on small screens*/
        grid-template-rows: repeat(4,auto);
        justify-items: center;
    }


    
    
        .card card--supervisor{
        grid-column: 1;
        grid-row: 1;
    }
    .card card--teambuilder{
        grid-column: 1;
        grid-row: 2;
    }
    .card card--karma{
        grid-column: 1;
        grid-row: 3;
    }
    .card card--calculator{
        grid-column: 1;
        grid-row: 4;
    }

} 
